APP_ENV=development
APP_PORT=8080

# === LOCAL PostgreSQL ===
#DATABASE_URL=postgres://gotask:gotask@localhost:5432/gotask?sslmode=disable

# === Supabase (Cloud PostgreSQL) — tinggal uncomment & isi password ===
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.fkuzsqncaacvpbbjiwgd.supabase.co:5432/postgres

JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h

CORS_ALLOWED_ORIGINS=http://localhost:3000
`